@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Bitter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");

h1,
h2,
h3 {
  margin: 0;
  /* padding: 10px; */
  font-family: "Kanit", sans-serif;
}
#Frame {
  width: 85%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  background-color: #131313;
  padding: 20px 25px;
  border-radius: 20px;
  margin: 10px 10px;
  transition: 0.5s;
}

#Frame:hover
{
  box-shadow: 5px 5px 10px 3px #202020;

}

#Frame img {
  border-radius: 20px;
  /* margin: 10px; */
  /* border: 2px dashed yellowgreen; */
  height: 160px;
  width: 200px;
  object-fit: cover;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 0.5s;
}

#Frame img:hover
{
  filter: grayscale(0%);

}



#Education {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Experince {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#clginfo {
  margin-top: 15px;
  margin-left: 50px;
  width: 100%;
}

#Clgname {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#Clgname h3 i {
  margin: 0px 5px;
}

#Clgname h3 {
  color: #00ff00;
  margin: 0px;
}

#Box {
  margin: 0px 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
  cursor: pointer;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.color-changing-text {
  font-size: 30px;
  font-family: "poppins";
  color: white;
  background: linear-gradient(to left, white 50%, #f7ca29 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.9s ease-out;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color-changing-text:hover {
  background-position: left bottom;
}

.masterC
{
  margin-top: 45px;
  zoom:1.9;
}
/* ******************************* */

@media only screen and (max-width: 600px) {
  
  .masterC
  {
    margin-bottom: 20px;
    zoom:1;
  }

  #Frame {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
  }

  .color-changing-text {
    font-size: 20px;
  }
  #clginfo h2 {
    font-size: 17px;
  }
  #Uni {
    color: #00ff00;
  }
  /* #P
    {
        display: none;
    } */
}



/* ********************************* */


